<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Saylani International Trust</title>
</head>
<body>
    <h1>Saylani Welfer International Trust</h1>
    <a href="http://127.0.0.1:5000/">Home</a> | 
    <a href="http://127.0.0.1:5000/about">About</a> | 
    <a href="http://127.0.0.1:5000/contact">Contact</a> | 
    <a href="http://127.0.0.1:5000/gallery">Gallery</a> | 
    <a href="#">Services</a>
<h1>HOME PAGE</h1>
    <h3>Bottom</h3>
    <a href="http://127.0.0.1:5000/">Home</a> | 
    <a href="http://127.0.0.1:5000/about">About</a> | 
    <a href="http://127.0.0.1:5000/contact">Contact</a> | 
    <a href="http://127.0.0.1:5000/gallery">Gallery</a> | 
    <a href="#">Services</a>
</body>
</html>